* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.slider {
  display: flex;
  width: 100vw;
  height: 100dvh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slide {
  position: relative;

  min-width: 100vw;
  height: 100dvh;

  scroll-snap-align: start;
  flex-shrink: 0;

  background-color: #33671a;
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}

/* Hint visual no primeiro slide */
.slide:first-child::after {
  content: "Deslize →";
  position: absolute;
  bottom: 90px; /* AQUI sobe o texto */
  left: 50%;
  transform: translateX(-50%);
  color: #33671a;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #fff;
}
